<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctosb.core.mapper.UserMapper">
	<insert id="insert">
		<selectKey resultType="int" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into
		user(id,user_name,password)
		values(#{id},#{userName},#{password})
	</insert>
	<insert id="insertAll">
		insert into
		user(id,user_name,password)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.userName},#{item.password})
		</foreach>
	</insert>

	<delete id="delete">
		delete from user where id = #{id}
	</delete>

	<delete id="deleteByUserName">
		delete from user where user_name = #{userName}
	</delete>

	<select id="getByUserName" resultType="com.ctosb.core.model.User"
		parameterType="java.lang.String">
		select * from user where user_name=#{userName}
	</select>
	<select id="get" resultType="com.ctosb.core.model.User">
		select * from user
	</select>
</mapper>